.game-board {
  .question {
    background-color: #9677be;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .answers {
    .answer {
      background-color: rgb(240, 228, 245);
      flex-basis: calc(50% - 40px);
      margin: 10px;
      border-radius: 10px;
      border: 1px solid black;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #9677be;
      }
    }
  }
  .score {
    background-color: #9677be;
  }
}

.clicked {
  background-color: rgb(210, 212, 93) !important;
  box-shadow: inset 0px 0px 17px black;
}

.btn-primary {
  background-color: #611bbd !important;
  border: 1px solid #130269 !important;
  min-width: 100px;
}

@media (max-width: 700px) {
  .answers {
    display: block !important;
  }
}
