@import "~bootstrap/dist/css/bootstrap.css";

@import "./App.scss";

@font-face {
  font-family: concert-one-reg;
  src: url("./assets/fonts/ConcertOne-Regular.ttf");
}

body {
  box-sizing: border-box;
  font-family: concert-one-reg;
}

@media (max-width: 500px) {
  html {
    font-size: 0.7rem;
  }
}
