@import "~bootstrap/dist/css/bootstrap.css";

@import "./App.scss";

@font-face {
  font-family: concert-one-reg;
  src: url("./assets/fonts/ConcertOne-Regular.ttf");
}

html {
  font-size: 0.8rem;
}

body {
  box-sizing: border-box;
  font-family: concert-one-reg;
  background-color: #82cbf9;
  padding-top: 50px;
}

@media (max-width: 500px) {
  body {
    padding-top: 0;
  }
}
